<%= content_for :javascript do %>
  <%= javascript_import_module_tag "exhibits" %>
<% end %>

<nav>
  <%= link_to "Choose Another Exhibit", exhibits_path %>
</nav>

<div class="exhibit-content">
  <h1><%= @exhibit.title %></h1>
  
  <div id="image-grid">
    <%= image_tag(@exhibit.image_path, style: "width:1000px;height:630px;position:absolute;z-index:-10") %>
  </div>
  
</div>


