<%= content_for :javascript do %>
  <%= javascript_import_module_tag "exhibits" %>
<% end %>

<nav>
  <%= link_to "Main Menu", exhibits_path %>
</nav>

<div class="exhibit-content">
  <div class="left-panel">
    <div id="image-size">
      <%= form_with do |f| %>
        <h2>Select Image Size:</h2>
        <p>* changing size restarts the game</p>
        <div>
          <%= f.radio_button :size, "small" %>
          <%= f.label :image_size, "800x500 (small)" %>
        </div>
        <div>
          <%= f.radio_button :size, "medium", checked: true %>
          <%= f.label :image_size, "1000x630 (medium)" %>
        </div>
        <div>
          <%= f.radio_button :size, "large" %>
          <%= f.label :image_size, "1200x750 (large)" %>
        </div>
      <% end %>
    </div>
    <div class="characters">
      <%= image_tag("waldo.png") %>
      <%= image_tag("wilma.png") %>
      <%= image_tag("wizard_whitebeard.png") %>
      <%= image_tag("odlaw.png") %>
    </div>
  </div>
  
  <div class="right-panel">
    <h1><%= @exhibit.title %></h1>
    
    <div id="image-grid-container">
      <div id="grid"></div>
      <%= image_tag(@exhibit.image_path) %>
    </div>
  </div>
</div>

<div id="hidden-form">
  <%= form_with url: '/locations', method: :get, remote: true do |f| %>
    <%= f.hidden_field :character %>
    <%= f.hidden_field :exhibit %>
    <%= f.hidden_field :size %>
    <%= f.submit id: :query, style: "display:none;" %>
  <% end %>
</div>
